body {
	margin: 5%;
	background: #fff6ef;
}

h1 {
	margin: auto;
	font-family: "Host Grotesk", sans-serif;
	font-weight: 800;
	font-size: 35px;
	color: #003049;
	padding-top: 30px;
	text-align: center;
}

h2 {
	margin: auto;
	margin-bottom: 2%;
	font-family: "Host Grotesk", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
	color: black;
	justify-content: left;
	text-align: center;
}


.story {
	font-family: "Host Grotesk", serif;
	font-size: 18px;
	font-weight: 300;
}


img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 20px;
}

.image-box {
	margin: 0px;
	margin-bottom: 10%;
	border-radius: 20px;
	background-color: #ddd;

}

figcaption {
	font-family: "Host Grotesk", serif;
    float: right;
	font-size: 13px;;
}

.container {
	margin: auto;
	max-width: 70%;

}

.quote {
	color: white;
	text-align: center;
	font-size: 1.2em;
	border: 10px solid #780000;
	border-radius: 20px;
	background-color: #780000;
	font-style: italic;
	margin-left: -20%;
  	margin-right: -20%;
}

@media (max-width: 600px) {

	.container {
		margin: auto;
		max-width: 90%;
	
	}

	.quote {
		color: white;
		text-align: center;
		font-size: 1.2em;
		border: 10px solid #780000;
		border-radius: 20px;
		background-color: #780000;
		font-style: italic;
		margin-left: -5%;
		margin-right: -5%;

	}

	body {
		margin: 2%;
		background: #fff6ef;
	}

	
}